* {
  margin: 0;
  font-family: inter, sans-serif;
}

.nav {
  display: flex;
  background-color: darkslategray;
  height: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  color: white;
}

.button-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  gap: 30px;
  justify-content: center;
}

.button-bar--start {
  background-color: lightgrey;
  border-radius: 5px;
}

.button-bar--middle {
  background-color: lightgrey;
  border-radius: 5px;
}

.button-bar--end {
  background-color: lightgrey;
  border-radius: 5px;
}

.task-headings {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.task-list {
  margin-top: 50px;
  margin-bottom: 50px;
}

.task {
  background-color: darkslategrey;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 9px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  font-size: 12px;
  color: white;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
}

.task-form {
  background-color: darkslategrey;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 9px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 5px;
  font-size: 12px;
  color: white;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
}

.description-input {
  width: 450px;
  height: 150px;
}

.radio-buttons {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
